<div class="row">
    <div class="input-field col s8">
 		<%= f.text_field :name, :placeholder => "姓名" %>
	</div>
    <div class="input-field col s4 ">
        <%= f.select :gender , Doctor::GENDER %>
	</div>
	
	<div class="input-field col s6">
		<%= f.collection_select(:city_id, @citys.order(:id), :id, :name) %>
	</div>
	<div class="input-field col s6">
		<%= f.grouped_collection_select(:district_id, @citys, :district, :name, :id, :name) %>
	</div>
	<div class="input-field col s12">
		<%= f.grouped_collection_select(:hospital_id, @districts, :hospital, :name, :id, :name) %>
	</div>
  	<div class="input-field col s12">
  		<span>主治專長</span>	
  		<%= f.cktext_area :specialty, :placeholder => "主治專長", class:"materialize-textarea" %>
  	</div>
  	<div class="input-field col s12">
  		<span>經歷</span>
  		<%= f.cktext_area :experience, :placeholder => "經歷", class:"materialize-textarea" %>
  	</div>
  		<div class="input-field col s12 right-align">
      	<button class="button" type="submit" name="action">
			<span>送出</span>
		</button>
	</div>
</div>





