<% @comments.each_with_index do |comment, comment_item_index| %>
	<li class="collection-item avatar">
	<img src="images/yuna.jpg" alt="" class="circle">
	<div class="discussion-byline">
		<%= simple_format(comment.content) %>
	</div>
	<ul class="discussion-tags right-align">
		<li>
			<%= link_to '<i class="material-icons">delete</i>'.html_safe, doctor_post_comment_path(@doctor, @post,comment), :confirm => "Are you sure?", :method => :delete, class:'purple-text text-lighten-4' %>
			<!-- Edit Comment Modal Trigger -->
			<%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, "#modal-edit-comment_#{comment_item_index}", class:'purple-text text-lighten-4' %>
			<!-- Edit Comment Modal Structure -->
			<div id="modal-edit-comment_<%= comment_item_index %>" class="modal modal-fixed-footer modal-post">
				<div class="modal-content modal-content-post">
					<%= form_for ([@doctor, @post, comment])  do |f| %>
    					<div class="row">
    			    		<div class="input-field col s12">
          						<%= f.text_area :content, :placeholder => "回覆", class:"materialize-textarea" %>
          					</div>
          					<div class="input-field col s12 right-align">
    	      					<button class="btn waves-effect waves-light" type="submit" name="action">
    	      						<span>送出</span>
    							</button>
    						</div>
    					</div>
			    	<% end %>
				</div>
			</div>
		</li>
	</ul>
		</li>
<% end %>
