

<% @comments.each_with_index do |comment, comment_item_index| %>
	<div class="section doctor-post-board-list">
		<div class="section post-board-top valign-wrapper">
			<div class="post-board-user-pic">
				<%= image_tag "yuna.jpg", class:"circle" %>
			</div>
			<div class="post-board-user-name">
				<%= link_to "#{@doctor.name}",doctor_path(@doctor), {class:"name"} %><br>
				<%= time_ago_in_words(@post.created_at) %> ago
			</div>
		</div>
		<div class="section post-board-middle">
			<div class="section post-byline valign-wrapper">
				<%= simple_format(comment.content) %>
			</div>
		</div>
		<div class="section post-board-bottom">
			<ul class="discussion-tags">
				<li>
				<%= link_to '<i class="material-icons">delete</i>'.html_safe, doctor_post_comment_path(@doctor, @post,comment), :confirm => "Are you sure?", :method => :delete, class:'purple-text text-lighten-4' %>
				<!-- Edit Comment Modal Trigger -->
				<%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, "#modal-edit-comment_#{comment_item_index}", class:'purple-text text-lighten-4' %>
				<!-- Edit Comment Modal Structure -->
				<div id="modal-edit-comment_<%= comment_item_index %>" class="modal modal-fixed-footer modal-post">
					<div class="modal-content modal-content-post">
						<%= form_for ([@doctor, @post, comment])  do |f| %>
	    					<div class="row">
	    			    		<div class="input-field col s12">
	          						<%= f.text_area :content, :placeholder => "回覆", class:"materialize-textarea" %>
	          					</div>
	          					<div class="input-field col s12 right-align">
	    	      					<button class="btn waves-effect waves-light" type="submit" name="action">
	    	      						<span>送出</span>
	    							</button>
	    						</div>
	    					</div>
				    	<% end %>
					</div>
				</div>
			</li>
			</ul>
		</div>
	</div>
<% end %>
