<% @comments.each_with_index do |comment, comment_item_index| %>
	<div class="wrapper__box--large MaxWidth640">
		<div class="wrapper__box--inner basic-shadow">
			<div class="box__post">
				<div class="section__poster">
					<div class="poster-avatar">
						<%= image_tag "yuna.jpg", class:"poster-avatar-img size3x3" %>
					</div>
					<div class="poster-name">
						<%= link_to "#{@doctor.name}",doctor_path(@doctor), {class:"name"} %><br>
						<span class="time-ago-in-words"><%= time_ago_in_words(@post.created_at) %> ago</span>
					</div>
				</div>
				<div class="section__content">
					<%= simple_format(comment.content, class:"post-description FontSize12 MarginTop15") %>
				</div>
			</div>
		</div>
		<div class="section__action">
			<ul class="no-border transparent-bg">
				<li>
					<%=link_to "Edit", "#modal-edit-comment_#{comment_item_index}", class:"button" %>
				</li>
				<li>
					<%=link_to "Delete", doctor_post_comment_path(@doctor, @post,comment), :confirm => "Are you sure?", :method => :delete, class:"button"  %>
				</li>
			</ul>
			<% if false %>
			<div  class="circle chip-action">
				<%= link_to '<i class="material-icons">delete</i>'.html_safe, doctor_post_comment_path(@doctor, @post,comment), :confirm => "Are you sure?", :method => :delete, class:'white-text' %>
			</div>	
			<div  class="circle chip-action">
				<!-- Edit Comment Modal Trigger -->
				<%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, "#modal-edit-comment_#{comment_item_index}", class:'white-text' %>			
			</div>
			<% end %>
			<!-- Edit Comment Modal Structure -->
			<div id="modal-edit-comment_<%= comment_item_index %>" class="modal modal-fixed-footer modal-post">
				<div class="modal-content modal-content-post">
					<%= form_for ([@doctor, @post, comment])  do |f| %>
    					<div class="row">
    			    		<div class="input-field col s12">
          						<%= f.text_area :content, :placeholder => "回覆", class:"materialize-textarea" %>
          					</div>
          					<div class="input-field col s12 right-align">
    	      					<button class="btn waves-effect waves-light" type="submit" name="action">
    	      						<span>送出</span>
    							</button>
    						</div>
    					</div>
			    	<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>
