<div class="wrapper__box--large MaxWidth640" id="edit-comment_<%= comment.id %>" >
	<div class="wrapper__box--inner basic-shadow">
		<div class="box__post padding15">
			<div class="section__poster">
				<div class="poster-avatar">
					<%= user_img_helper("small-poster", comment.user) %>
				</div>
				<div class="poster-name">
					<%= link_to "#{comment.user.nickname}", user_path(comment.user), { class:"name" } %><br>
					<span class="time-ago-in-words"><%= time_ago_in_words(comment.created_at) %>前</span>
				</div>
			</div>
			<div class="section__content flex-colunm"   id="modal-edit-comment_<%= comment.id %>">
				<%= simple_format(comment.content, class:"post-description FontSize12 MarginTop1 MarginBottom00") %>
			</div>
		</div>
	</div>
	<% if current_user && current_user == comment.user %>
		<div class="section__action">
			<ul class="no-border transparent-bg">
				<li><%=link_to "Edit", edit_doctor_post_comment_path(@doctor, @post, comment), :remote => true, class: "button" %></li>
				<li><%=link_to "Delete", doctor_post_comment_path(@doctor, @post, comment), remote: true, :confirm => "Are you sure?", :method => :delete, class:"button"  %></li>
			</ul>
		</div>
	<% end %>
</div>