<%#= _dashboard_headbar.html%>
<div class="wrapper__box--large flex-row MaxWidth740">
	<div class="section__poster Width100">
		<div class="poster-name">
  			<H1 class="post-title FontSize2 MarginTop1"><%= link_to "#{@user.nickname}", user_path, class: "name" %></H1>
			<div class="post-title MarginTop05 FontSize11">小寶貝暱稱：</div>
			<div class="section__content post-description MarginTop05"> 
				<%= simple_format @user.profile.nickname_of_baby %>
			</div>
		</div>
		<div class="poster-avatar">
			<%= user_img_helper("big-poster", @user) %>
			<% if @user != current_user %>
				<%= link_to "傳訊息", new_conversation_path, :remote => true, class: "button MarginTop1 Width100" %>
			<% end %>
			<% if @user != current_user %>
				<%= link_to "JS", "#", :id => "myBtn", class: "button MarginTop1 Width100" %>
			<% end %>
		</div>
	</div>
</div>
<div class="wrapper__box--large flex-row MaxWidth740">
<div id="conversation_area" style="width:100%">
	
</div>
</div>
<%#= dashboard/post/index.html.erb%>
<div class="wrapper__box--large MaxWidth740">
	<header class="header_cate">
		<span class="header_cate_title">
		  發表的文章
		</span>
	</header>
</div>
<% if @posts.empty? %>
	<div class="wrapper__box--large MaxWidth740">
		<span class="align--center">尚未發表任何文章</span>
	</div>
<% else %>
	<% @posts.each do |post| %>
		<%= render partial: 'shared/posts_box', locals: {posts: post, user: @user} %>
	<% end %>
<% end %> 


<!-- The Modal -->
<div id="myModal" class="modal">
	<!-- Modal content -->
	<div class="modal-content">
	<%= form_for @conversation, :recipient => params[:id] do |f| %>
		<div class="row">
	    	<div class="input-field col s12 ">
	      		<%= f.text_area :content, :placeholder => "傳訊息" %>
	      	</div>
	      	<div class="input-field col s12 right-align">
		      	<button class="button" type="submit" name="action">
					<span>送出</span>
				</button>
			</div>
		</div>
	<% end %>
	</div>
</div>

<script>
	// Get the modal
	var modal = document.getElementById('myModal');
	
	// Get the button that opens the modal
	var btn = document.getElementById("myBtn");
	
	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];
	
	// When the user clicks on the button, open the modal 
	btn.onclick = function() {
	    modal.style.display = "block";
	}
	
	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	    modal.style.display = "none";
	}
	
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modal) {
	        modal.style.display = "none";
	    }
	}
</script>
