<%#= _dashboard_headbar.html%>
<div class="wrapper__box--large flex-row MaxWidth740">
	<div class="section__poster Width100">
		<div class="poster-name">
  			<H1 class="post-title FontSize2 MarginTop1"><%= link_to @user.nickname, user_path(@user), class: :name %></H1>
			<div class="post-title MarginTop05 FontSize11">小寶貝暱稱：</div>
			<div class="section__content post-description MarginTop05"> 
				<%= simple_format @user.profile.nickname_of_baby %>
			</div>
		</div>
		<div class="poster-avatar">
			<%= user_img_helper("big-poster", @user) %>
			<% if @user != current_user %>
				<%= link_to "傳訊息", new_conversation_path, :remote => true, class: "button MarginTop1 Width100" %>
				<%#= link_to "私訊", new_conversation_path, :id => "conversation-load", class: "button MarginTop1 Width100" %>
			<% end %>
		</div>
	</div>
</div>
<div class="wrapper__box--large flex-row MaxWidth740">
	<% flash.each do |key, value| %>
  		<div class="alert alert-conversation alert-<%= key %>"><%= value %></div>
	<% end %>
</div>
<div class="wrapper__box--large flex-row MaxWidth740">
	<div id="conversation_area" class="Width100" style="display:none">
		<%= render partial: 'conversations/form' %>
	</div>
</div>
<%#= dashboard/post/index.html.erb%>
<div class="wrapper__box--large MaxWidth740">
	<header class="header_cate">
		<span class="header_cate_title">
		  發表的文章
		</span>
	</header>
</div>
<% if @posts.empty? %>
	<div class="wrapper__box--large MaxWidth740">
		<span class="align--center">尚未發表任何文章</span>
	</div>
<% else %>
	<% @posts.each do |post| %>
		<%= render partial: 'shared/posts_box', locals: { posts: post, user: @user } %>
	<% end %>
<% end %> 

<script>
	$('#conversation-load').click( function(e){
	  e.preventDefault();
	  $("#conversation_area").toggle();
	})
</script>

