<div class="navbar-fixed">
    <nav>
            <div class="nav-wrapper margin0 MaxWidth1000 padding05">
                <%= link_to root_path, class:"brand-name" do %>
                    <i class="material-icons">favorite</i>
              		<span>媽媽手冊</span>
          		<% end %>
                <ul class="right">
                    <li>
                        <%= link_to  root_path do %> 
                		    <i class="material-icons">local_hospital</i>
                		<% end %>
                	</li>
                    <!-- Dropdown Trigger -->
                    <li>
                        <a class="dropdown-button" href="#!" data-activates="dropdown-discussion">
                            <i class="material-icons">dvr</i>
                        </a>
                    </li>
                    <li class="login_user"><%= login_user_helper %></li>
                    
                    
                    
                    <% if false %>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <%= login_helper("btn-flat btn-flat-custom white-border")%>
                            <li><a class="dropdown-button" href="#!" data-activates="dropdown-discussion" style="background-image: url(<%= asset_path current_user.profile.profile_img.url(:medium) %>)">全站討論區分類<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a class="dropdown-button" href="#!" data-activates="dashboard" style="background-image: url(<%= asset_path current_user.profile.profile_img.url(:medium) %>)">個人後臺</a></li>
                            <% if current_user %>
                             <%#= link_to "個人後台", dashboard_posts_path, class:"btn-flat btn-flat-custom white-border" %>
                              <li><%= link_to "456台","#" , {class:"dropdown-button u-block size3x3 radius100", style: "background-image: url(#{asset_path current_user.profile.album.album_img.url(:medium)})",:data => { :activates => 'dashboard' }} %> </li>
                            <% end %>
                        </ul>
                    <% end %>
                </ul>
            </div>
    </nav>
</div>


<!-- 下拉選單 - 討論區 -->
<!-- Dropdown Structure -->
<ul id="dropdown-discussion" class="dropdown-content">
    <%= dropdown_nav(dropdown_discussion_items,"flex") %>
</ul>

<!-- 下拉選單 -  使用者後台 -->
<!-- Dropdown Structure -->
<ul id="dropdown-dashboard" class="dropdown-content">
    <%= dropdown_nav(dashboard_nav_items[0],"flex") %>
    <li class="divider"></li>
    <%= dropdown_nav(dashboard_nav_items[1],"flex") %>
    <li class="divider"></li>
    <%= dropdown_nav(dashboard_nav_items[2],"flex") %>
    <li class="divider"></li>
    <%= dropdown_nav(dashboard_nav_items[3],"flex") %>
    <li class="divider"></li>
    <li>
        <%= link_to  destroy_user_session_path, method: :delete, class:"flex" do %> 
        	<i class="material-icons">exit_to_app</i>
        	<span class="margin-l-05">登出</span>
        <% end %>
    </li>
</ul>


<% if false %>
<!-- 側邊選單 -->
<ul id="mobile-demo" class="side-nav" >
    <%= login_helper("btn-flat btn-flat-custom white-border")%>
    <li class="divider"></li>
    <li><%= link_to "最多人討論的醫生", doctors_path(city: nil) %></li>
    <li><%= link_to "最多人瀏覽的文章", doctors_path(city: nil) %></li>
    <li><%= link_to "最多人留言的文章", doctors_path(city: nil) %></li>
    <li class="divider"></li>
    <li>
        <%= link_to  posts_path do %> 
        	<i class="material-icons">dvr</i>
        	<span> <%= "總討論區" %></span>
        <% end %>
    </li>
    <li>
        <%= link_to  posts_phase_posts_path do %> 
    	    <i class="material-icons">pregnant_woman</i>
    		<span> <%= "按孕期分類" %></span>
    	<% end %>
    </li>
    <li>
        <%= link_to  posts_issue_posts_path do %> 
    	    <i class="material-icons">child_care</i>
    		<span> <%= "按症狀分類" %></span>
    	<% end %>
    </li>
    <li><%= yield :show_sidebar %></li>
</ul>
<% end %>