<div class="wrapper__box--large MaxWidth740">
	<header class="header_cate">
		<span class="header_cate_title">
		  發表過的文章
		</span>
	</header>
</div>
<% @posts.each do |post| %>
	<div class="wrapper__box--large MaxWidth740">
		<div class="wrapper__box--inner no-border transparent-bg bottom-border">
			<div class="box__post">
				<div class="section__poster">
					<div class="poster-name">
					</div>
				</div>
				<div class="section__content article-content">
					<%= link_to doctor_post_path(post.doctor, post) do %> 
						<h4 class="post-title"><%= post.title %></h4>
						<%= simple_format post.description, class:"post-description" %>
					<% end %>
				</div>
				<div class="section__action align-center MarginTop1 Width300px">
					<span class="time-ago-in-words margin-r-1">Posted on <%= post.created_at.strftime("%b %d, %Y") %></span>
					<span class="time-ago-in-words margin-r-1"><%=link_to "Edit", edit_dashboard_mamabook_post_path(post) %></span>
					<span class="time-ago-in-words margin-r-1"><%=link_to "Delete", dashboard_mamabook_post_path(post), method: :delete, data: {confirm: 'Are You sure?'} %></span>
				</div>
			</div>
		</div>
	</div>
<% end %> 