<div class="section">
	<%= render(partial: 'posts/list',locals: { posts: @posts }) %>
</div>    

<% @posts.each do |post| %>
	<div class="wrapper__box--large MaxWidth640">
		<div class="wrapper__box--inner basic-shadow">
			<div class="box__post">
				<div class="section__poster">
					<div class="poster-avatar">
						<%= image_tag "yuna.jpg", class:"poster-avatar-img size3x3" %>
					</div>
					<div class="poster-name">
						<%= link_to "#{post.doctor.name}",doctor_path(post.doctor), {class:"name"} %><br>
						<span class="time-ago-in-words"><%= time_ago_in_words(post.created_at) %> ago</span>
					</div>
				</div>
				<div class="section__content">
					<%= link_to doctor_post_path(post.doctor, post) do %> 
						<h2 class="post-title MarginTop05"><%= post.title %></h2>
						<%= simple_format post.description, class:"post-description FontSize12 MarginTop15" %>
					<% end %>
				</div>
				
			</div>
		</div>
		<div class="section__action">
			<ul class="no-border transparent-bg">
				<li>
					<%=link_to "Edit", edit_dashboard_mamabook_post_path(post), class:"button" %>
				</li>
				<li>
					<%=link_to "Delete", dashboard_mamabook_post_path(post), method: :delete, data: {confirm: 'Are You sure?'}, class:"button"  %>
				</li>
			</ul>
		</div>
	</div>
<% end %> 