
<div class="col s6 m4 l4 left-align">
    <div class="card card-doctor card-doctor-list z-depth-0">
        <div class="card-image">
            <div><%= link_to image_tag("female"), doctor %></div>
            <div class="card-title card-title-doctor card-title-doctor-index valign-wrapper">
                <div class="doctor-index-name"><%= link_to "#{doctor.name} 醫生", doctor, class:"btn-flat btn-flat-custom" %></div>
                <!-- New Post Modal Trigger -->
                <div class="doctor-index-post"><%= link_to "留言", "#modal-new-post_#{doctor.id}", class:"modal-trigger btn-flat btn-flat-custom white-border" %></div>
            </div>
        </div>     
        
        <% if false %>
        <div class="card-content">
            <div class="truncate"><%= doctor.hospital.name %></div>
            <div><%#= doctor.experience %></div>
        </div>
        <% end %>
        
        <div class="card-content card-content-doctor card-content-doctor-list">
            <div class="col s4 center-align">
                <%= link_to  doctor_path(doctor) do %> 
				    <i class="material-icons tiny">favorite_border</i>
				    <span> <%= doctor.post.size %></span>
				<% end %>
			</div>
			<div class="col s4 center-align">
                <%= link_to  doctor_path(doctor) do %> 
				    <i class="material-icons tiny">chat_bubble_outline</i>
				    <span> <%= doctor.post.size %></span>
				<% end %>
			</div>
			<div class="col s4 center-align">
                <%= link_to  doctor_path(doctor) do %> 
				    <i class="material-icons tiny">bookmark_border</i>
				    <span> <%= doctor.post.size %></span>
				<% end %>
			</div>
             
            <% if false %>
            <div class="col s4 center-align">
                <%= link_to  "#modal-new-post_#{doctor.id}" do %> 
				    <i class="material-icons tiny ">textsms</i>
				    <span>留言</span>
				<% end %>
			</div>
			<% end %>
			
			<% if false %>
			<div class="col s4 valign-wrapper"><%= link_to '<i class="material-icons">favorite</i>'.html_safe + " #{doctor.post.size} ", doctor, class:'purple-text text-lighten-4 ' %></div>
            <div class="col s4 valign-wrapper"><%= link_to '<i class="material-icons">forum</i>'.html_safe + " #{doctor.post.size} ", doctor, class:'purple-text text-lighten-4 ' %></div>
            <div class="col s4 valign-wrapper"><%= link_to '<i class="material-icons tiny">textsms</i>'.html_safe + "留言", "#modal-new-post_#{doctor.id}", class:'modal-trigger purple-text text-lighten-4' %></div>
            <% end %>
            
        </div>
        <div class="card-action card-action-doctor card-action-doctor-list">
            
            <% if false %>
            <ul>
                <li  class="valign-wrapper">
                    <!-- New Post Modal Trigger -->
                    <div class="post-image center-align"><i class="material-icons">forum</i></div>
                    <div class="post-title"><span class="title"><%= link_to "共有 #{doctor.post.size} 篇留言", doctor %></span></div>
                </li>
            </ul>
            <% end %>
            
            <% if !doctor.post.blank? %>
            <% if false %>
            <div class="index-list-post-title valign-wrapper">
                <%= link_to  doctor_post_path(doctor,doctor.post.last) do %> 
				    <h6><%= truncate("#{doctor.post.last.title}", length: 18) %> </h6>
				<% end %>
			</div>
			<div class=" post-board-user-section valign-wrapper">
			    <div class="post-board-user-pic">
			        <%= image_tag "yuna.jpg", class:"circle" %>
			    </div>
			    <div class="post-board-user-name">
                    by <%= link_to "#{doctor.name}",doctor_path(doctor), {class:"name"} %><br>
                    <span><%= time_ago_in_words(doctor.post.last.created_at) %> ago</span>
                </div>
			</div>
			<% end %>
			<div class="section valign-wrapper">
			    <div class="post-board-user-pic">
			        <%= image_tag "yuna.jpg", class:"circle" %>
                </div>
                <div class="post-board-user-name">
                    <%= link_to "#{doctor.name}",doctor_path(doctor), {class:"name"} %><br>
                    <%= time_ago_in_words(doctor.post.last.created_at) %> ago<br>
                   
                </div>
                
                
            </div>
            <div class="index-list-post-title valign-wrapper"> 
                <%= link_to  doctor_post_path(doctor,doctor.post.last) do %>
                    <h6 style="color: black;"><%= truncate("#{doctor.post.last.title}", length: 22) %></h6>
                <% end %>
            </div>
            <% else %>
            <div class="valign-wrapper">
                <!-- New Post Modal Trigger -->
                <div class="post-image center-align"><i class="material-icons">textsms</i></div>
                <div class="post-title post-title-last"><%= link_to "成為第一個留言的人", "#modal-new-post_#{doctor.id}", class:"modal-trigger waves-effect waves-light" %></div>
            </div>   
            <% end %>
        </div>
    </div>
</div>

<!-- New Post Modal Structure -->
<div id="modal-new-post_<%= doctor.id %>" class="modal modal-fixed-footer modal-post">
    <%= form_for ([doctor, doctor.post.build]) do |f| %>
    <div class="modal-content modal-content-post">
        <div class="row">
            <div class="input-field col s12">
                <%= f.text_field :title, :placeholder => "標題" %>
            </div>
            <div class="input-field col s12 m4">
                <%= label_tag "請選擇主題" %><br>
                <%= f.select :subject , Post::SUBJECT, {include_blank: false} %>
            </div>
            <div class="input-field col s12 m4">
                <%= label_tag "妊娠週數" %><br>
                <%= f.select :period , Post::PERIOD, {include_blank: false} %>
            </div>
            <div class="input-field col s12 m4">
                <%= label_tag "主要範圍" %><br>
                <%= f.select :kind , Post::KIND, {include_blank: false} %>
            </div>
            <div class="input-field col s12">
                <%= f.text_area :description, :placeholder => "內容", class:"materialize-textarea" %>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect waves-light" type="submit" name="action">
            <span>送出</span>
        </button>
    </div>
    <% end %>
</div>


<%#= render 'posts/new', locals: { doctor: doctor }%>

<%#= render(partial: 'posts/new',locals: { doctor: doctor }) %>

<%= render 'posts/new', doctor: doctor %>