<div class="row">
    <div class="section">
        <div class="doctor-container">
    	    <div class="col s12">
    		    <div class="card">
    	           <div class="card-image">
    	               <%= image_tag @doctor.doctor_img.url, class: 'responsive-img z-depth-1' %>
    	               <span class="card-title doctor-profile-title"><%= @doctor.name %>&nbsp醫生</span>
    	           </div>
    	           <div class="card-action doctor-profile-action">
    	               <!-- New Post Modal Trigger -->
    	               <%= link_to "發表新留言", "#modal-new-post", class:"modal-trigger waves-effect waves-light" %>
    	               <%= link_to "掛號", "#modal1", class:"modal-trigger waves-effect waves-light" %>
    	               <%= @doctor.impressionist_count %> 人瀏覽
    	           </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card doctor-card grey lighten-5 z-depth-1">
                    <div class="card-content doctor-card-content black-text">
                        <span class="card-title">經歷</span>
                        <p><%= simple_format @doctor.experience %></p>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card doctor-card grey lighten-5 z-depth-1">
                    <div class="card-content doctor-card-content black-text">
                        <span class="card-title">專長</span>
                        <p><%= simple_format @doctor.specialty %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>  
