<div class='flex-filter-title'>
	<i class="material-icons">pregnant_woman</i>
	<span>按孕期排序</span>
</div>
<div class="profile-flex-filter-section">
    <ul>
        <li><%= link_to "全部留言", doctor_path(@doctor), class:"new-post-chip" %></li>
  		<% @phases.each do |phase| %>
			<li class=<%= 'active' if params[:phase] == phase.title %>>
				<%= link_to phase.title, doctor_path(@doctor, phase: phase ), class: "new-post-chip" %>
			</li>
	    <% end %>
    </ul>
</div>



<% if false %>
<div class="flex-filter">
	<% @phases.each do |phase| %>
		<%= link_to phase.title, doctor_path(@doctor, phase: phase ), class: "new-post-chip" %>
	<% end %>
</div>
<% end %>


<% if false %>
<div class="flex-filter-section">
 <div class='flex-filter-title'>按孕期排序</div>
    <ul>
        
  		<% @phases.each do |phase| %>
			<li class=<%= 'active' if params[:phase] == phase.title %>>
				<%= link_to phase.title, doctor_path(@doctor, phase: phase ), class: "new-post-chip" %>
			</li>
	    <% end %>
	    <li><%= link_to "全部留言", doctor_path(@doctor), class:"new-post-chip" %></li>
    </ul>
    
</div>
<% end %>
