<div class="section">
  <div class="profile-header-right">
    <div class='flex-filter-title'>
    	<i class="material-icons">local_hospital</i>
    	<span>按城市排序</span>
    </div>
    <div class="profile-flex-filter-section">
        <ul>
            <li><%= link_to "全部城市", doctors_path(city: nil), class:"new-post-chip" %></li>
      		<% @citys.each do |city| %>
    			<li>
    				<%= link_to city.name, doctors_path(city: city.name), { class:"new-post-chip"} %>
    			</li>
    	    <% end %>
        </ul>
    </div>
  </div>
</div>

<% if false %>
  <div class="section">
  	<div class="flex-filter-section">
  		<ul>
  		  	<li><%= link_to "全部城市", doctors_path(city: nil), class:"new-post-chip" %></li>
  			  <% @citys.each do |city| %>
  				  <li><%= link_to city.name, doctors_path(city: city.name), { class:"new-post-chip"} %></li>
  		  	<% end %>
  		</ul>
  	</div>
  </div>
<% end %>

<% if false %>
  <div class="row">
    <div class="section">
      <div class="container-doctor">
        <div class="col s12">
          <div class="card card-doctor z-depth-0">
            <div class="row card-content card-content-doctor black-text">
              <%= form_for_filterrific @filterrific do |f| %>
              <ul class="card-content-doctor-ul">
                <li class="col s12 m4"><span class="card-title red-text">按縣市尋找醫生</span></li>
                <li class="col s12 m4"><%= f.select :with_city_id , @filterrific.select_options[:with_city_id], {include_blank: '- 全部城市 -'}, class:"browser-default" %></li>
                <li class="col s12 m4"><%= f.select :sorted_by, @filterrific.select_options[:sorted_by],{}, class:"browser-default" %></li>
              </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render_filterrific_spinner %>
<% end %>

<% if false %>
  <div class="row">
    <div class="section">
        <div class="container-doctor">
          <div class="col s12">
              <header class="filter_section_header">
    
             <div class="col s4 m2"><%= link_to "全部城市", doctors_path(city: nil), class:"new-post-chip" %></div>
            <% City.all.each do |city| %>
              <div class="col s4 m2"><%= link_to city.name, doctors_path(city: city.name), class:"new-post-chip" %></div>
      		  <% end %>
      		    </header>
    
          </div>
        </div>
    </div>
  </div>
<% end %>
