<%= form_for @doctor, html: { multipart: true } do |f| %>
	<div class="row">
		<div class="input-field col s8">
			<div class="file-field input-field">
     			<div class="btn">
        			<span>File</span>
        			<%= f.file_field :doctor_img %>
      			</div>
      			<div class="file-path-wrapper">
        			<input class="file-path validate" type="text" placeholder="">
      			</div>
    		</div>
        </div>
        <div class="input-field col s8">
     		<%= f.text_field :name, :placeholder => "姓名" %>
    	</div>
        <div class="input-field col s4 ">
	        <%= f.select :gender , Doctor::GENDER %>
    	</div>
    	
    	<div class="input-field col s6">
    		<%= f.collection_select(:city_id, City.order(:id), :id, :name) %>
    	</div>
    	<div class="input-field col s6">
			<%= f.grouped_collection_select(:district_id, City.all, :district, :name, :id, :name) %>
		</div>
		<div class="input-field col s12">
    		<%= f.grouped_collection_select(:hospital_id, District.all, :hospital, :name, :id, :name) %>
    	</div>
      	<div class="input-field col s12">
      		<span>主治專長</span>	
      		<%= f.cktext_area :specialty, :placeholder => "主治專長", class:"materialize-textarea" %>
      	</div>
      	<div class="input-field col s12">
      		<span>經歷</span>
      		<%= f.cktext_area :experience, :placeholder => "經歷", class:"materialize-textarea" %>
      	</div>
<<<<<<< HEAD
      		<div class="input-field col s12 right-align">
	      	<button class="btn waves-effect waves-light" type="submit" name="action">
				<span>送出</span>
			</button>
		</div>
		
=======
      	<button class="btn waves-effect waves-light" type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		</button>

>>>>>>> 3bb9a2683ded44fdd2f1c7684ce1ba2e3f6da5d6
	</div>
<% end %>




