<div class="profile-poster">
  <% if !doctor.post.blank? %>
    <div class="poster-avatar">
      <%= image_tag "yuna.jpg", class:"poster-avatar-img responsive-img" %>
    </div>
    <div class="poster-name">
      <%= link_to "#{doctor.name}",doctor_path(doctor), {class:"name"} %><br>
      <div class="index-list-post-title"> 
          <%= link_to  doctor_post_path(doctor,doctor.post.last) do %>
              <h6 style="color: black;"><%= truncate("#{doctor.post.last.title}", length: 22) %></h6>
          <% end %>
      </div>
    </div>
  <% else %>
    <div class="valign-wrapper">
        <!-- New Post Modal Trigger -->
        <div class="post-image center-align"><i class="material-icons">textsms</i></div>
        <div class="post-title post-title-last"><%= link_to "成為第一個留言的人", "#modal-new-post_#{doctor.id}", class:"modal-trigger waves-effect waves-light" %></div>
    </div>   
  <% end %>
</div>