<% if !doctor.post.blank? %>
  <div class="poster-avatar">
    <%= background_img_helper("small-poster", doctor) %>
    <% if false %>
      <%= image_tag "yuna.jpg", class:"poster-avatar-img size3x3" %>
    <% end %>
  </div>
  <div class="poster-name">
	  <%= link_to "#{doctor.name}",doctor_path(doctor), {class:"name"} %><br>
		<span class="time-ago-in-words"><%= time_ago_in_words(doctor.post.last.created_at) %> ago</span>
  </div>
<% else %>
  <div class="valign-wrapper">
      <!-- New Post Modal Trigger -->
      <div class="post-image center-align"><i class="material-icons">textsms</i></div>
      <div class="post-title post-title-last"><%= link_to "成為第一個留言的人", "#modal-new-post_#{doctor.id}", class:"modal-trigger waves-effect waves-light" %></div>
  </div>   
<% end %>
