<div class="container-doctor primary-bg">
	<div class="wrapper__doctor flex-colunm MaxWidth1000">
		<div class="wrapper__box--inner no-border">
			<div class="box__post flex-row">
				<div class="section__poster flex-colunm">
					<div class="poster-avatar">
						<%= doctor_img_helper("show", @doctor) %>
						<% if current_user && current_user.voted_for?(@doctor) %>
							<%= link_to like_doctor_path(@doctor), method: :put, class: 'button button--visibility active' do %>
								<i class="material-icons">visibility</i>
							<% end %>
						<% else %>
							<%= link_to like_doctor_path(@doctor), method: :put, class: 'button button--visibility' do %>
								<i class="material-icons">visibility</i>
							<% end %>
						<% end %>
    				</div>
				</div>
				<div class="section__content flex-colunm Width100 padding-l1">
					<div class="section__content flex-colunm"> 
						<h2 class="profile-name MarginTop05 MarginBottom05"><%= link_to "#{@doctor.name} 醫生", @doctor, class:"name" %></h2> 
						<% if @doctor.post.any? %>
							<span>留言：<%= @doctor.post.count  %>  篇</span>
						<% else %>
							<span> 沒有留言</span>
						<% end %>
					</div>
					<div class="post-title MarginTop05 FontSize11">經歷</div>
					<div class="section__content post-description MarginTop05">
						<%= simple_format @doctor.experience %>
					</div>
					<div class="post-title MarginTop05 FontSize11">專長</div>
					<div class="section__content post-description MarginTop05"> 
						<%= simple_format @doctor.specialty %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>