<div class="row">
    <div class="section">
        <% if false %>
        <div class="col s12">
            <div class="doctor-profile">
                <div class="doctor-profile-avatar">
                     <%= image_tag @doctor.doctor_img.url, class: 'responsive-img' %>
                    <ul>
                        <li>
                           
                            <span class="doctor-profile-name"><%= @doctor.name %>&nbsp醫生</span>
                        </li>
                        <li>
				        <!-- New Post Modal Trigger -->
				            <%= link_to "#modal-new-post_#{@doctor.id}", class:"btn-custom btn-custom-white" do %> 
					            <i class="material-icons">mode_edit</i>
					            <span><%= "留言" %></span>
				            <% end %>
				        </li>
				    </ul>
	           </div>
	           <div class="profile-action">
	               <ul>
	                   <li>
	                       <!-- New Post Modal Trigger -->
	                       <%= link_to "#modal-new-post_#{@doctor.id}", {class:"modal-trigger"} do %> 
	                           <i class="material-icons">mode_edit</i>
	                           <span>留言</span>
	                       <% end %>
	                       <% if false %>
	                           <i class="material-icons">textsms</i>
	                           <%= link_to "留言", "#modal-new-post", class:"modal-trigger" %>
	                       <% end %>
	                   </li>
	                   <li>
	                       <%#= 先連去首頁 %>
	                       <%= link_to root_path do %> 
	                           <i class="material-icons">call</i>
	                           <span>掛號</span>
	                       <% end %>
	                   </li>
	               </ul>
	               <%#= @doctor.impressions.count 人瀏覽%> 
	           </div>
            </div>
        </div>
        <% end %>
        <div class="col s12">
            <div class="card card-doctor card-doctor-sidebar z-depth-0">
                <div class="card-content card-content-doctor index-sidebar">
                    <span class="card-title">經歷</span>
                </div>
                <div class="row card-action card-action-doctor index-sidebar black-text">
                    <ul>
                        <li  class="valign-wrapper">
                            <div class="post-title"><%= simple_format @doctor.experience %></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card card-doctor card-doctor-sidebar z-depth-0">
                <div class="card-content card-content-doctor index-sidebar">
                    <div><span class="card-title">專長</span></div>
                </div>
                <div class="row card-action card-action-doctor index-sidebar black-text">
                    <ul>
                        <li  class="valign-wrapper">
                            <div class="post-title"><%= simple_format @doctor.specialty %></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</div>  

<% if false %>
<%#= 這邊還沒弄好，因為爬蟲的資料不知道怎麼整理 %>
<div class="flex-sidebar-box-wrap">
    <div class="flex-sidebar-box">
        <div class="sidebar-box-title">
            專長
        </div>
        <div class="sidebar-box-link-wrap">
            <ul>
                <li  class="sidebar-box-link">
                    <%= simple_format @doctor.specialty %>
                </li>
            
            </ul>
        </div>
    </div>
</div>
<% end %>

<% if false %>
    	    <div class="col s12">
    		    <div class="card card-doctor card-doctor-list z-depth-0">
    	           <div class="card-image">
    	               <%= image_tag @doctor.doctor_img.url, class: 'responsive-img' %>
    	               <span class="card-title card-title-doctor"><%= @doctor.name %>&nbsp醫生</span>
    	           </div>
    	           <div class="card-action card-action-doctor">
    	               <ul>
    	                   <li  class="valign-wrapper">
    	                       <!-- New Post Modal Trigger -->
    	                       <div class="post-image center-align"><i class="material-icons">textsms</i></div>
    	                       <div class="post-title"><%= link_to "留言", "#modal-new-post", class:"modal-trigger waves-effect waves-light" %></div>
    	                   </li>
    	                   <li  class="valign-wrapper">
    	                       <div class="post-image center-align"><i class="material-icons">forum</i></div>
    	                       <div class="post-title"><span class="title"><%= link_to "掛號", "#modal1", class:"modal-trigger waves-effect waves-light" %></span></div>
    	                   </li>
    	               </ul>
    	               <%#= @doctor.impressions.count 人瀏覽%> 
    	           </div>
                </div>
            </div>
        <% end %>