<div class="row">
<% @doctors.each do |doctor|%>
        <div class="col s3">
          <div class="card">
            <div class="card-image">
              <%= image_tag doctor.doctor_img.url %>
              <span class="card-title"><%= doctor.name %></span>
            </div>
            <div class="card-content">
              <div><%= doctor.specialty.truncate(12) %></div>
              <div><%= doctor.experience.truncate(12) %></div>
            </div>
            <div class="card-action">
              <a href='<%= edit_doctor_path(doctor) %>' class='btn waves-effect eaves-light' name='action'>Edit</a>
            </div>
          </div>
        </div>
        <% end %>
      </div>

