<% content_for :show_headbar do %>
	<!-- 個別醫生的照片 -->
	<%= render 'doctors/show_headbar' %>
<% end %>

<% content_for :show_sidebar do %>
	<!-- sticky sidebar menu-->
	<%= render 'doctors/show_sidebar' %>
<% end %>

<div class="wrapper__box--large">
	<div class="section">
		<!-- 孕期篩選器 -->
		<%= render 'shared/flex_filterbar' %>
	</div>
	<div class="section">
		<header class="header_cate">
			<span class="header_cate_title">
				<%= @post_cate %>
			</span>
		</header>
		<div class="wrapper-post-index">
			<% if @posts.blank? %>
				<h5> 有甚麼想分享、想問的嗎？ 成為第一個留言的人</h5>
			<% else %>
				<% @posts.each do |post| %>
					<div class="wrapper__box--small">
						<%= render 'posts/posts_box', post: post  %>
					</div>	
				<% end %>
			<% end %>
		</div>
		<div class="modal-footer new-post-modal-footer">
			<%=link_to "留言", new_doctor_post_path(@doctor), class: "button MarginTop1"  %> 
		</div>
	</div>
</div>

