<% content_for :show_sidebar do %>
	<%= render 'doctors/side_bar' %>
<% end %>

<% content_for :sidebar do %>
	<%= render 'doctors/sidebar_doctor_profile' %>
<% end %>

<% content_for :headbar do %>
	<%= render 'doctors/filter_doctor_profile' %>
<% end %>





<% if @posts.blank? %>
	<h5> 有甚麼想分享、想問的嗎？ 成為第一個留言的人</h5>
<% else %>
	<div class="row">	
		<% @posts.each_with_index do |post, post_item_index| %>
			<%= render 'posts/list_doctors_show', post: post  %>
		<% end %>
	</div>
<% end %>
			

<ul class="control-footer">
	<ul class="control-page-items">
		<!-- New Post Modal Trigger -->
		<li><%= link_to "發表留言", "#modal-new-post_#{@doctor.id}", class:"modal-trigger waves-effect waves-light btn" %></li>
		<!-- New Post Modal Structure -->
		<%= render 'posts/new', doctor: @doctor %>
	</ul>
</ul>




 
<% if false %>
  	<div>
  		<%= link_to '<i class="material-icons">delete</i>'.html_safe, doctor_post_path(@doctor, post), :confirm => "Are you sure?", :method => :delete, class:'purple-text text-lighten-4' %>
  		<!-- New Edit Modal Trigger -->
  		<%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, "#modal-edit-post_#{post_item_index}", class:'purple-text text-lighten-4' %>
  		<!-- New Edit Modal Structure -->
  		<div id="modal-edit-post_<%= post_item_index %>" class="modal modal-fixed-footer modal-post">
  			<div class="modal-content modal-content-post">
      			<%= form_for ([@doctor, post]) do |f| %>
      				<div class="row">
      					<div class="input-field col s12">
      						<%= f.text_field :title, :placeholder => "標題" %>
      					</div>
		      			<div class="input-field col s12 m4">
        					<%= label_tag "請選擇主題" %><br>
        					<%= f.select :subject , Post::SUBJECT, {include_blank: false} %>
						</div>
						<div class="input-field col s12 m4">
        					<%= label_tag "妊娠週數" %><br>
        					<%= f.select :period , Post::PERIOD, {include_blank: false} %>
						</div>
						<div class="input-field col s12 m4">
        					<%= label_tag "主要範圍" %><br>
        					<%= f.select :kind , Post::KIND, {include_blank: false} %>
						</div>
		    			<div class="input-field col s12">
  							<%= f.text_area :description, :placeholder => "內文", class:"materialize-textarea" %>
  						</div>
  						<div class="input-field col s12 right-align">
      						<button class="btn waves-effect waves-light" type="submit" name="action">
      							<span>送出</span>
							</button>
						</div>
					</div>
				<% end %>
			</div>
  		</div>
  	</div>
<% end %>    
