
<div class='card'>
	<div class="card-content">
		<div class='circle'><%= image_tag @doctor.doctor_img.url(:medium) %></div>
		<div><%= @doctor.name %></div>
		<div><%= @doctor.specialty %></div>
		<div><%= @doctor.experience %></div>
		<a href='<%= edit_doctor_path(@doctor) %>' class='btn waves-effect eaves-light' name='action'>Edit</a>
	</div>
</div>


