<div class="wrapper__box--large MaxWidth740">
	<header class="header_cate">
  		<span class="header_cate_title">
  			關注的醫生
  		</span>
  	</header>
</div>
<% @doctors.each do |doctor| %>
	<div class="wrapper__box--large MaxWidth740">
		<div class="wrapper__box--inner">
			<div class="box__post flex-row">
				<div class="section__poster flex-colunm">
					<div class="poster-avatar">
						<%= doctor_img_helper("dashboard", doctor) %>
					</div>
				</div>
				<div class="section__content flex-colunm Width100 padding-l1">
					<div class="section__content flex-colunm"> 
						<h2 class="profile-name MarginTop00 MarginBottom05"><%= link_to "#{doctor.name} 醫生", doctor, class:"name" %></h2> 
						<% if doctor.post.any? %>
							<span>留言：<%= doctor.post.count  %>  篇</span>
						<% else %>
							<span> 沒有留言</span>
						<% end %>
					</div>
					<div class="post-title MarginTop05 FontSize11">經歷</div>
					<div class="section__content">
						<div class="post-description"><%= simple_format doctor.experience %></div>
					</div>
					<div class="post-title MarginTop05 FontSize11">專長</div>
					<div class="section__content"> 
						<div class="post-description"><%= simple_format doctor.specialty %></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %> 
