<div class='wrapper__filterrific'>
    <div class='flex-filter-title'>
        <i class="material-icons"><%= @flex_filter_icon %></i>
        <span>留言類別</span>
    </div>
    <div class="filterrific-section">
        <%= form_for_filterrific @filterrific do |f| %>
            <ul>
                <li><%= f.select :with_phase_id , @filterrific.select_options[:with_phase_id], {include_blank: '- 全部孕期留言 -'}, class:"browser-default" %></li>
                <li><%= f.select :with_issue_id , @filterrific.select_options[:with_issue_id], {include_blank: '- 全部症狀留言 -'}, class:"browser-default" %></li>
                <li><%= f.select :sorted_by, @filterrific.select_options[:sorted_by],{}, class:"browser-default" %></li>
            </ul>
        <% end %>
    </div>
</div>
<%= render_filterrific_spinner %>
