<div class="section__poster margin-b-1">
	 <%= link_to "回醫生頁面", doctor_path(@doctor), { class:"button" } %><br>
</div>
<div class="section__poster Height4">
	<div class="poster-avatar">
		<%= user_img_helper("show-poster", post.user) %>
	</div>
	<div class="poster-name flex80px">
		<%= link_to post.user.nickname, user_path(post.user), { class:"name" } %><br>
  		<span class="time-ago-in-words"><%= time_ago_in_words(post.created_at) %> ago</span>
	</div>
</div>
<div class="section__content flex-colunm margin-b-1 article-content"> 
	<h1> 
		<%= post.title %> 
	</h1>
	<div>
	<%=link_to like_doctor_post_path(@doctor,@post), method: :put, class: 'button no-border' do %>
		<i class="material-icons">thumb_up</i>
		<%=@post.get_upvotes.size%></td>
	<% end %>
	<%=link_to dislike_doctor_post_path(@doctor,@post), method: :put, class: 'button no-border' do %>
		<i class="material-icons">thumb_down</i>
		<%=@post.get_downvotes.size%></td>
	<% end %>
	</div>
	<%= simple_format post.description %>
</div>


