<div class="section__poster Height4">
	<div class="poster-avatar">
		<%= poster_img_helper("big-poster", post) %>
		<% if false %>
		<%= image_tag "yuna.jpg", class:"poster-avatar-img  size375x375" %>
		<% end %>
	</div>
	<div class="poster-name flex80px">
		<%= link_to "#{User.find(post.user_id).nickname}",doctor_path(post.doctor), {class:"name"} %><br>
  		<span class="time-ago-in-words"><%= time_ago_in_words(post.created_at) %> ago</span>
	</div>
</div>
<div class="section__content flex-colunm margin-b-1"> 
	<h1 class="post-title FontSize2 MarginTop1"> 
		<%= post.title %> 
	</h1>
	<%= simple_format post.description, class:"post-description MarginTop15 FontSize12" %>
</div>


