<div class="section__post margin-b-1"> 
	<div class="article--topic">
		<div class="chip--plusone">
			<span class="lineheight"><%= post.get_upvotes.size%></span>
			<span class="icons--chip">
				<span>同感</span>
				<i class="small material-icons FontSize1">exposure_plus_1</i>
			</span>
		</div>
		<div class="flex11auto">
			<h1 class="MarginTop00"> 
				<%= post.title %> 
			</h1>
		</div>
	</div>
</div>
<div class="section__tag">
	<div class="chip truncate">
		<%= post.phase.title %>
	</div>
	<div class="chip truncate">
		<%= post.issue.title %>
	</div>
</div>
<div class="section__content flex-colunm margin-b-1 article-content MinHeight34"> 
	<%= simple_format post.description %>
</div>