<div class="box__post">
<div class="section__poster">
	<div class="poster-avatar">
		<%= image_tag "yuna.jpg", class:"poster-avatar-img  size375x375" %>
	</div>
	<div class="poster-name  flex80px">
		<%= link_to "#{post.doctor.name}",doctor_path(post.doctor), {class:"name"} %><br>
  		<span class="time-ago-in-words"><%= time_ago_in_words(post.created_at) %> ago</span>
	</div>
</div>
<div class="section__content"> 
	<h1 class="post-title FontSize2 MarginTop1"> 
		<%= post.title %> 
	</h1>

	<%= simple_format post.description, class:"post-description FontSize12 MarginTop15"%>
</div>
</div>


