<div class="container-comment top-border">
	<div class="section__wrapper">
		<div class="wrapper__box--large MaxWidth740 ">
			<header class="header_cate">
				<span class="header_cate_title">
					<% if @comments.blank? %>
						成為第一個回覆的人
					<% else %>
						參加討論
					<% end %>
				</span>
			</header>
			<div>
				<% if current_user %>
					<div class="wrapper__post MaxWidth1000">
						<div class="wrapper__box--large MaxWidth640">
							<div class="wrapper__box--inner basic-shadow">
								<div class="box__post padding2">
									<div class="section__poster">
										<div class="poster-avatar">
											<%= user_img_helper("small-poster", current_user) %>
										</div>
										<div class="poster-name">
											<%= link_to "#{current_user.nickname}", user_path(current_user), { class:"name" } %><br>
										</div>
									</div>
									<div class="section__content flex-colunm">
										<%= render 'comments/form' %>
									</div>
								</div>
							</div>
						
						</div>
					</div>
				<% else %>
					<%= link_to "登入留言", new_user_session_path, class: "button" %>
				<% end %>
			</div>
		</div>
	</div>
	<% if !@comments.blank? %>
        <div class="wrapper__post MaxWidth1000  add_comment">
        	<% @comments.each do |comment| %>
	    		<%= render partial: 'comments/comment', locals: {comment: comment } %>
	    	<% end %>
	    	<%= will_paginate @comment_paginate if @comment_paginate %>
	    </div>
	<% end %>
</div>