<% content_for :sidebar do %>
	<!-- 側邊欄 留言區 主選單 -->
	<%= render 'shared/sidebar_index' %>
<% end %>

<% content_for :headbar do %>
	<!-- 總留言區 篩選器 filterrefic -->
	<%= render 'posts/filter_index' %>
<% end %>

<div class="section">
	<!-- 總留言區 -->
	<%= render(partial: 'posts/list',locals: { posts: @posts }) %>
</div>    

<% if false %>
<div class="section">
	<header class="posts_phase_section_header">
		<span class="posts_phase_section_title">
			<%= @title %>
		</span>
	</header>
	<div class="row">
		<% @posts.each do |post| %>
			<%= render 'posts/list_posts_index', post: post  %>
		<% end %>
	</div>
</div>
<% end %>