<% content_for :sidebar do %>
	<%= render 'shared/sidebar_index' %>
<% end %>

<% if false %>
	<% content_for :headbar do %>
		<%= render 'posts/filter_index' %>
	<% end %>
<% end %>

<div class="section">
	<header class="header_cate">
		<span class="header_cate_title">
			<%= @title %>
		</span>
	</header>
	<div class="row">
		<div class="flex-post-box-wrap">
			<% @posts.each do |post| %>
				<div class="flex-post-box flex-post-box-medium">
					<%= render 'posts/posts_box', post: post  %>
				</div>	
			<% end %>
		</div>
		<% if false %>
			<% @posts.each do |post| %>
				<%= render 'posts/list_posts_index', post: post  %>
			<% end %>
		<% end %>
	</div>
</div>
 
