<% content_for :sidebar do %>
	<!-- 側邊欄 留言區 主選單 -->
	<%= render 'layouts/sidebar_index' %>
<% end %>



<div class="section">
	<%= render 'layouts/flex_filterbar' %>
</div>

<div class="section">
	<% @phases.each do |phase| %>
		<header class="header_cate">
			<span class="header_cate_title">
				<%= link_to phase_issue_posts_path(phase: phase) do %>
					<span id="<%= phase.title %>"><%= phase.title %></span>
				<% end %>
			</span>
			<span class="header_cate_more">
				<%= link_to phase_issue_posts_path(phase: phase) do %>
					<span id="<%= phase.title %>">More ></span>
				<% end %>
			</span>
		</header>
		<div class="row">
			<div class="flex-post-box-wrap">
				<% @posts_tag.select{|t| t.phase_id == phase.id}.first(3).each do |post| %>
					<div class="flex-post-box flex-post-box-small">
						<%= render 'posts/posts_box', post: post  %>
					</div>	
				<% end %>
			</div>
			<% if false %>
				<% @posts_tag.select{|t| t.phase_id == phase.id}.first(3).each do |post| %>
					<%= render 'posts/list_posts_cate', post: post  %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>


<% if false %>
	<div class="row">
		<div class="section">
			<div class="container-doctor">
		    	<div class="col s12">
		        	<header class="filter_section_header">
		          		<% @phases.each do |phase| %>
		          			 <div class="col s6 m2"><%= link_to phase.title, posts_phase_posts_path(anchor: phase.title), { class:"new-post-chip"} %></div>
		  		  		<% end %>
		  		   </header>
		    	</div>
		    </div>
		</div>
	</div>
<% end %>

<% if false %>
	<div class="section">
		<div class="flex-filter-section">
			<ul>
			<% @phases.each do |phase| %>
				<li><%= link_to phase.title, posts_phase_posts_path(anchor: phase.title), { class:"new-post-chip"} %></li>
		  	<% end %>
			</ul>
		</div>
	</div>
<% end %>