<% content_for :sidebar do %>
	<!-- 側邊欄 留言區 主選單 -->
	<%= render 'shared/sidebar_index' %>
<% end %>




<div class="section">
	<%#= render 'posts/filter_cate' %>
	<%= render 'shared/flex_filterbar' %>
</div>

<div class="section">
	<% @issues.each do |issue| %>
		<header class="header_cate">
			<span class="header_cate_title">
				<%= link_to phase_issue_posts_path(issue: issue) do %>
					<span id="<%= issue.title %>"><%= issue.title %></span>
				<% end %>
			</span>
			<span class="header_cate_more">
				<%= link_to phase_issue_posts_path(issue: issue) do %>
					<span id="<%= issue.title %>">More ></span>
				<% end %>
			</span>
		</header>
		<div class="row">
			<div class="flex-post-box-wrap">
				<% @posts_tag.select{|t| t.issue_id == issue.id}.first(3).each do |post| %>
					<div class="flex-post-box flex-post-box-small">
						<%= render 'posts/posts_box', post: post  %>
					</div>	
				<% end %>
			</div>
			
			<% if false %>
				<% @posts_tag.select{|t| t.issue_id == issue.id}.first(3).each do |post| %>
					<%= render 'posts/list_posts_cate', post: post  %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>



<% if false %>
<div class="row">
	<div class="section">
		<div class="container-doctor">
	    	<div class="col s12">
	        	<header class="filter_section_header">
	          		<% @issues.each do |issue| %>
	          			 <div class="col s6 m3"><%= link_to issue.title, posts_issue_posts_path(anchor: issue.title), { class:"new-post-chip"} %></div>
	  		  		<% end %>
	  		   </header>
	    	</div>
	    </div>
	</div>
</div>
<% end %>

<% if false %>
	<div class="section">
		<div class="flex-filter-section">
			<ul>
				<% @issues.each do |issue| %>
					<li><%= link_to issue.title, posts_issue_posts_path(anchor: issue.title), { class:"new-post-chip"} %></li>
			  	<% end %>
			</ul>
		</div>
	</div>
<% end %>