<% content_for :show_headbar do %>
	<!-- Po文者的照片 -->
	<%= render 'posts/show_headbar', post: @post %>
<% end %>

<% content_for :comment_section do %>
	<!-- 回覆區 -->
	<%= render 'posts/show_comment' %>
	<%#= render @post.comment %>
<% end %>

<% content_for :show_sidebar do %>
	<!-- sticky sidebar menu -->
	<%= render 'posts/show_sidebar' %>
<% end %>

<% content_for :javascript do %>
	<!-- sticky sidebar menu -->
	<%= javascript_include_tag 'stickysidebar' %>
<% end %>
<% if false %>
	<% content_for :mobile_footer_nav do %>
		<!-- 手機版的底部NAV -->
		<%= render 'shared/mobile_footer_nav_posts' %>
	<% end %>
<% end %>



<div class="section__wrapper padding-t0">
	<div class="wrapper__box--large MaxWidth740 ">
		<div class="wrapper__box--inner padding2">
		<%= render 'posts/posts_box_showpage', post: @post  %>
		</div>
	</div>
</div>
