
<% content_for :sidebar do %>
	<!-- 小螢幕會消失的醫生個人資訊區 -->
	<div class="hide-on-small-only">
		<%= render 'doctors/sidebar_doctor_profile' %>
	</div>
<% end %>	

<div class="section">
		<header class="header_cate">
			<span class="header_cate_title">
			<%= link_to "回到醫生討論區", doctor_path(@doctor) %>
		</span>
	</header>
</div>
<div class="flex-post-box flex-post-box-large">
	<%= render 'posts/posts_box_showpage', post: @post  %>
</div>

<div class="section">
	<div class="flex-new-comment-box-wrap">
		<header class="header_cate">
			<span class="header_cate_title">
				<% if @comments.blank? %>
					成為第一個回覆的人
				<% else %>
					參加討論
				<% end %>
			</span>
		</header>
		<div>
			<%= render 'comments/form' %>
		</div>	
	</div>
	
	<ul class="collection">
		<li>
			<% if !@comments.blank? %>
				<%= render 'comments/comment', collection: @comments %>
				<%#= render 'comments/comment', :locals => { :comment => @comments }   %>
			<% end %>
		</li>
	</ul>
</div>



<% if false %>
	<div class="discussion-board">
		<div class="section doctor-post-board-list">
			<div class="section post-board-top valign-wrapper">
				<% if @comments.blank? %>
					成為第一個回覆的人
				<% else %>
					參加討論
				<% end %>
			</div>
			<div class="section post-board-middle">
				<div class="discussion-form">
					<%= render 'comments/form' %>
				</div>
			</div>
		</div>
		<ul class="collection">
			<li>
				<% if !@comments.blank? %>
					<%= render 'comments/comment', collection: @comments %>
					<%#= render 'comments/comment', :locals => { :comment => @comments }   %>
				<% end %>
			</li>
		</ul>
	</div>
<% end %> 