<% if false %>
	<% content_for :show_headbar do %>
		<!-- Po文者的照片 -->
		<%= render 'posts/show_headbar', post: @post %>
	<% end %>
	
	<% content_for :comment_section do %>
		<!-- 回覆區 -->
		<%= render 'posts/show_comment' %>
		<%#= render @post.comment %>
	<% end %>
<% end %>
<div class="container-doctor primary-bg transparent-bg">
	<div class="wrapper__doctor flex-colunm MaxWidth740 padding-b0">
		<div class="wrapper__box--inner no-border transparent-bg">
			<div class="box__post padding15">
				<div class="section__poster margin-b-1">
					<%= link_to :back, class: 'button fixed_icons' do %>
						<i class="material-icons">chevron_left</i>
						<span>&nbsp;&nbsp;BACK</span>
					<% end %>
				</div>
			</div>
	    </div>
    </div>
</div>
<div class="wrapper__box--large MaxWidth740">
	<div class="wrapper__box--inner">
		<div class="box__post flex-row">
			<div class="section__poster flex-colunm">
				<div class="poster-avatar">
					<%= user_img_helper("small-poster",@user) %>
				</div>
			</div>
			<div class="section__content flex-colunm Width100 padding-l1">
				<div class="section__content flex-colunm"> 
					<h2 class="profile-name MarginTop00 MarginBottom05"><%= link_to @user.nickname, user_path(@user), class:"name" %></h2> 
				</div>
				<span class="time-ago-in-words"><%= time_ago_in_words(@conversation.created_at) %>前</span>
				<div class="section__content">
					<div class="post-description"><%= @conversation.content %></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="wrapper__box--large MaxWidth740">
	<%= link_to "傳訊息", "#", :id => "newMessageBtn", class: "button MarginTop1 Width100" %>
</div>
<div class="wrapper__post MaxWidth1000 add_message">
	<% if !@conversation.message.blank? %>
		<% @messages.each do |message| %>
			<%= render partial: 'dashboard/messages/message', locals: {message: message } %>
		<% end %>
		<%= will_paginate @messages_paginate if @messages_paginate %>
	<% end %>
</div>

<!-- The Modal -->
<div id="newMessage" class="modal-box">
	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<div class="modal-error-msg"></div>
		<%#= form_for [@conversation,@conversation.message.build], 
						url: dashboard_conversation_messages_path(@conversation,@conversation.message.build), 
						:data => { :type => :json, :conversation_id => @conversation.id } do |f| %>
		<%= form_for [@conversation,@conversation.message.build], 
						url: dashboard_conversation_messages_path(@conversation,@conversation.message.build),
						:remote => true,
						:data => { :conversation_id => @conversation.id } do |f| %>				
			<div class="row">
		    	<div class="input-field col s12 ">
		      		<%= f.text_area :content, :placeholder => "傳訊息" %>
		      		<%#= f.hidden_field :conversation_id, :value => params[:id] %>
		      	</div>
		      	<div class="input-field col s12 right-align">
			      	<button class="button" type="submit" name="action">
						<span>送出</span>
					</button>
				</div>
			</div>
		<% end %>
	</div>
</div>

<script>
	/*
	Begin of Javascript
	Get the modal
	var modal = document.getElementById('newMessage');
	
	Get the button that opens the modal
	var btn = document.getElementById("newMessageBtn");
	
	Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];
	

	When the user clicks on the button, open the modal 
	btn.onclick = function() {
	    modal.style.display = "block";
	}
	
	When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	    modal.style.display = "none";
	}
	
	When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modal) {
	        modal.style.display = "none";
	    }
	}
	End of Javascript
	*/
	
	$("#newMessageBtn").click(function(){
		$("#newMessage").show();
	});
	
	$(".close").click(function(){
		$("#newMessage").hide();
	});
	
	$(document).click(function(e) {
		//console.log(e.target);
		var newMessage = $("#newMessage");
    	if (e.target == newMessage[0]) {
    		newMessage.hide();
	    }
	});
	
	
	/*
	$("#newMessage").on("submit", function(event) {
		event.preventDefault();
		//var conversation_id = document.getElementById("new_message").getAttribute('data-conversation-id');
		conversation_id = $("#new_message").attr("data-conversation-id")
		$.ajax({
			url: conversation_id + "/messages.json", //加上.json，可以確保回到create action的時候由format.json所接收
			method: "POST",
			dataType: "json",
			data: { 
				message: { 
					content: $("#message_content").val()
				}
			},
			success: function(response, status, xhr) {
				console.log(response);
				$('.add_message').prepend(response['html_data']);
				//$('.add_message').prepend('<%#= j render partial: "dashboard/messages/message", locals: {message: @message } %>');
				//modal.style.display = "none";
				$('#newMessage').hide();
				//$("#no_message").hide();
				$('#message_content').val('');
				// https://api.jquery.com/data/
				// https://stackoverflow.com/questions/5309926/how-to-get-the-data-id-attribute
				// https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/dataset
				// http://html5doctor.com/html5-custom-data-attributes/
			},
			error: function(response, status, xhr) {
				//console.log(response);
				
				//var modalMsg = document.getElementsByClassName("modal-error-msg")[0];
				//modalMsg.setAttribute("id", "error_explanation");
				//modalMsg.setAttribute("class", "error__comment-new");
				
				$(".modal-error-msg").attr("id","error_explanation")
				$(".modal-error-msg").attr("class", "error__comment-new");
				
				//$(".modal-error-msg").addClass("error__comment-new")
				
				for (var key in response.responseJSON) {
					$("#error_explanation").prepend("<p>"+response.responseJSON[key]+"</p>");				
				}
			},
		});
	});
	*/
</script>
