<div class="wrapper__box--large MaxWidth740">
    <header class="header_cate">
		<span class="header_cate_title">
			修改個人資料
		</span>
	</header>
	<div class="wrapper__box--inner">
        <div class="box__post padding2">
            <%= form_for @profile, url: dashboard_profile_path, method: :PATCH, html: { multipart: true } do |f| %>
                <div class="section__form--login" >
                    <i class="material-icons icons--input">home</i>
            		<%= f.select :location, @citys, { disabled:-1}, {class: "browser-default"} %>
            	</div>
            	<div class="section__form--login" >
            		<i class="material-icons icons--input">child_friendly</i>
            		<%= f.select :number_of_baby, @number_of_baby, {disabled: 0}, {class: "browser-default"} %>
            	</div>
            	<div class="new-post-bar">小寶貝資料</div>
            	<div class="section__form--login">
            		<i class="material-icons icons--input">child_care</i>
            		<%= f.text_field :nickname_of_baby, placeholder:"暱稱", class: "margin0 indent__text69" %>
            	</div>
            	<div class="section__form--login" >
            		<i class="material-icons icons--input">pregnant_woman</i>
            		<%= f.select(:gender_of_baby , @gender_of_baby, {disabled: 0}, {class: "browser-default"}) %>
            	</div>
            	<div class="section__form--login justify-between" >
            		<i class="material-icons icons--input">cake</i>
            		<%#= f.text_field :birthday_of_baby, placeholder:"預產期或生日", class: "datepicker" %>
            		<%= f.date_select :birthday_of_baby, {:start_year => Time.now.year - 10}, {class: "browser-default birthday"} %>
            	</div>
                <div class="section__form align-center justify-evenly" >
                    <button class="button Width50" type="submit" name="action">
                  	    <span>送出</span>
                  	</button> 
                </div>
            <% end %>
        </div>
    </div>
</div>
<script>
$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
</script>