<div class="wrapper__box--large MaxWidth740">
    <header class="header_cate">
		<span class="header_cate_title">
			修改個人資料
		</span>
	</header>
	<div class="wrapper__box--inner">
        <div class="box__post padding2">
            <%= form_for @profile, url: dashboard_profile_path, method: :PATCH, html: { multipart: true } do |f| %>
                <div class="section__form align-center" >
            		<span class="form__label Width40 ">居住城市</span> 
            		<span class="flexauto "><%= f.select :location, @citys.collect {|p| [ p.name, p.id ] }, {}, {class: "browser-default"} %></span>
            	</div>
            	<div class="new-post-bar">小寶貝資料</div>
            	<div class="section__form align-center" >
            		<span class="form__label Width40 ">幾個小寶貝</span> 
            		<span class="flexauto "><%= f.select :number_of_baby, Profile::NUMBER_OF_BABY, {}, {class: "browser-default"} %></span>
            	</div>
            	<div class="section__form align-center" >
            		<span class="form__label Width40 ">暱稱</span> 
            		<span class=""><%= f.text_field :nickname_of_baby, class: "browser-default" %></span>
            	</div>
            	<div class="section__form align-center" >
            		<span class="form__label Width40 ">性別</span>
            		<span class="flexauto "><%= f.select :gender_of_baby , Profile::GENDER_OF_BABY, {}, {class: "browser-default"} %></span>
            	</div>
            	<div class="section__form align-center" >
            		<span class="form__label Width40 ">預產期或生日</span>
            		<span class="flexauto "><%= f.date_select :birthday_of_baby, {:start_year => Time.now.year - 10}, {class: "browser-default"} %></span>
            	</div>
                <div class="section__form align-center justify-evenly" >
                    <button class="button Width50" type="submit" name="action">
                  	    <span>送出</span>
                  	</button> 
                </div>
            <% end %>
        </div>
    </div>
</div>