<div class="wrapper__box--large MaxWidth740">
    <header class="header_cate">
		<span class="header_cate_title">
			個人資料
		</span>
	</header>
	<div class="wrapper__box--inner">
        <div class="box__post padding2">
    		<div class="section__form--login">
                <i class="material-icons input--icons">home</i> 
				<% if current_user.profile.location %>
					<div class="border--form"><%= @city %></div>
				<% else %>
					<div class="border--form"><%= link_to "新增城市", edit_dashboard_profile_path %></div>
				<% end %>
		    </div>
    		<div class="section__form--login">
    			<i class="material-icons input--icons">child_friendly</i>
    			<% if current_user.profile.number_of_baby? && !current_user.profile.number_of_baby.nil?  %>
					<div class="border--form"><%= Profile::NUMBER_OF_BABY[current_user.profile.number_of_baby][0] %></div>
				<% else %>
					<div class="border--form"><%= link_to "有幾個小寶貝", edit_dashboard_profile_path %></div>
				<% end %>
    		</div>
    		<div class="section__form--login">
            	<i class="material-icons input--icons">child_care</i> 
				<% if current_user.profile.nickname_of_baby? && !current_user.profile.nickname_of_baby.nil? %>
					<div class="border--form"><%= current_user.profile.nickname_of_baby %></div>
				<% else %>
					<div class="border--form"><%= link_to "新增小寶貝暱稱", edit_dashboard_profile_path %></div>
				<% end %>
		    </div>
    		<div class="section__form--login">
    			<i class="material-icons input--icons">pregnant_woman</i>
    			<% if current_user.profile.number_of_baby? && !current_user.profile.gender_of_baby.nil? %>
					<div class="border--form"><%= Profile::GENDER_OF_BABY[current_user.profile.gender_of_baby][0] %></div>
				<% else %>
					<div class="border--form"><%= link_to "請輸入小寶貝性別", edit_dashboard_profile_path %></div>
				<% end %>	
		    </div>
    		<div class="section__form--login">
            		<i class="material-icons input--icons">cake</i> 
				<% if current_user.profile.birthday_of_baby %>
					<div class="border--form"><%= current_user.profile.birthday_of_baby.strftime("%Y/%m/%d") %></div>
				<% else %>
					<div class="border--form"><%= link_to "新增生日", edit_dashboard_profile_path %></div>
				<% end %>
		    </div>
		</div>
	</div>
</div>