<div class="navbar-fixed">
  <nav class="top-nav">
    <div class="container">
    <div class="nav-wrapper">
      <a href=<%= root_path %> class="brand-logo"><i class="large material-icons">favorite</i>
        <span class='text-bold'><h4>Mommy</h4></span>
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "全台醫生", doctors_path(city: nil) %></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown-discussion">全站討論區分類<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><%= link_to "註冊", doctors_path(city: nil), class:"btn-flat btn-flat-custom white-border" %></li>
        <li><%= link_to "登入", doctors_path(city: nil), class:"btn-flat btn-flat-custom white-border" %></li>
      </ul>
      </div>
    </div>
  
</nav>
</div>
<!-- 下拉選單 -->
<!-- Dropdown Structure -->
<ul id="dropdown-discussion" class="dropdown-content">
  <li><%= link_to "總討論區", posts_path %></li>
  <li class="divider"></li>
  <li><%= link_to "最多人討論的醫生", doctors_path(city: nil) %></li>
  <li><%= link_to "最多人瀏覽的文章", doctors_path(city: nil) %></li>
  <li><%= link_to "最多人留言的文章", doctors_path(city: nil) %></li>
</ul>
<!-- 側邊選單 -->
<ul id="mobile-demo" class="side-nav" >
  <li><%= link_to "註冊", doctors_path(city: nil) %></li>
  <li><%= link_to "登入", doctors_path(city: nil) %></li>
  <li class="divider"></li>
  <li><%= link_to "總討論區", doctors_path(city: nil) %></li>
  <li><%= link_to "最多人討論的醫生", doctors_path(city: nil) %></li>
  <li><%= link_to "最多人瀏覽的文章", doctors_path(city: nil) %></li>
  <li><%= link_to "最多人留言的文章", doctors_path(city: nil) %></li>
  <li class="divider"></li>
  <li><%= yield :show_sidebar %></li>
</ul>