<div class="section__wrapper">
    <div class="wrapper__box--large MaxWidth740">
        <header class="header_cate">
            <span class="header_cate_title">
      			  註冊
      		  </span>
      	</header>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <div class="section__form align-center" >
                <span class="form__label Width40 ">信箱</span> 
                <span class="flexauto "><%= f.email_field :email, autofocus: true %></span>
            </div>
            <div class="section__form align-center" >
                <span class="form__label Width40 ">暱稱</span> 
                <span class="flexauto "><%= f.text_field :nickname %></span>
            </div>
            <div class="section__form align-center" >
                <span class="form__label Width40 ">密碼 
                <% if @minimum_password_length %>
                  <br />
                  <em>( 最少 <%= @minimum_password_length %> 字 )</em>
                <% end %></span>
                <span class="flexauto "><%= f.password_field :password, autocomplete: "off" %></span>
            </div>
            <div class="section__form align-center" >
                <span class="form__label Width40 ">確認密碼</span> 
                <span class="flexauto "><%= f.password_field :password_confirmation, autocomplete: "off" %></span>
            </div>
            <button class="button" type="submit" name="action">
          		<span>送出</span>
          	</button>
        <% end %>
    </div>
</div>