<div class="section__wrapper">
    <div class="wrapper__box--large MaxWidth640">
        <header class="header_cate">
            <span class="header_cate_title">
      			  註冊
      		  </span>
      	</header>
      	<div class="wrapper__box--inner">
            <div class="box__post padding2">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                    <div class="section__form align-center" >
                        <span class="form__label Width40 ">信箱</span> 
                    </div>
                    <div>
                        <%= f.email_field :email, autofocus: true %>
                    </div>
                    <div class="section__form align-center" >
                        <span class="form__label Width40 ">暱稱</span> 
                    </div>
                    <div>
                        <%= f.text_field :nickname %>
                    </div>
                    <div class="section__form align-center" >
                        <span class="form__label Width40 ">密碼</span>
                    </div>
                    <div>
                        <%= f.password_field :password, autocomplete: "off", placeholder:" 最少 #{@minimum_password_length} 字" %>
                    </div>
                    <div class="section__form align-center" >
                        <span class="form__label Width40 ">確認</span> 
                    </div>
                    <div>
                        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:" 請重新輸入一次密碼" %>
                    </div>
                    <div class="section__form align-center justify-evenly" >
                        <button class="button Width50" type="submit" name="action">
                      	    <span>送出</span>
                      	</button> 
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>